<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold;">
     Listado de cuentas
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">

  <ion-grid >
    <ion-row style="font-weight: bold;">
      <ion-col >
        Id cliente
      </ion-col>
      <ion-col>
        # cuenta
      </ion-col>
      <ion-col>
        Valor
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let lista of listCuentas">
      <ion-col>
        {{lista.id_cliente}}
      </ion-col>
      <ion-col>
        {{lista.num_cuenta}}
      </ion-col>
      <ion-col>
        {{lista.saldo}}
      </ion-col>
    </ion-row>
   </ion-grid>

<!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuentas</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content> 

